<div id="content">
<div id="signal"><img src="/img/{{theme}}-{{mode}}.png"></br><div><span title="reviews before next new card">{{reviewsToNextNew}}</span>/<span title="due now">{{dueNow}}</span>/<span title="new cards past 24 hours">{{statsPast24Hours.newCards}}</span>/<span title="study time past 24 hours">{{statsPast24Hours.time}}</span>/<span title="study time next 24 hour">{{statsNext24Hours.time}}</span></div></div>
<div id="card-contents" class="card">
{{{back}}}
</div>
<div class="buttons">
<span style="font-size: 15px">({{card.factor}} {{interval}})</span>
<button onclick="review('fail')" class="shortcut_j">Fail ({{intervals.fail}})</button>
<button onclick="review('hard')" class="shortcut_k">Hard ({{intervals.hard}})</button>
<button onclick="review('good')" class="shortcut_l">Good ({{intervals.good}})</button>
<button onclick="review('easy')" class="shortcut_semicolon">Easy ({{intervals.easy}})</button>
<a href="/help" target="_blank"><button>Help</button></a>
<a onclick="window.open('/fieldset/{{card.fieldsetid}}', 'Edit Fieldset', 'height=800,width=600');" class="shortcut_e" target="_blank"><button>Edit</button></a>
<button onclick="replay()" class="shortcut_p">Play</button>
<a href="/" class="shortcut_b"><button>Stop</button></a>
</div>
</div>
<script>
  function review (ease) {
    console.log('review ', ease);
    fetch('/card/{{card.id}}/', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
        elapsed: 20,
        ease: ease,
        startTime: {{cardStartTime}}
      })
    })
    .then(response => {
      if (!response.ok) {
        throw new Error(response.url + ': ' + response.status + ': ' +
          response.statusText);
      }
      response.json()
      .then((data) => {
        if (data.cardAvailable) window.location = '/next';
        else window.location = '/';
      });
    })
    .catch(err => {
      console.log('err: ', err);
      alert(err);
      window.location('/');
    });
  };
</script>
