<div class="card">
{{{back}}}
<div class="buttons">
<span style="font-size: 15px">{{template.id}}</span>
<button onclick="review('again')" class="shortcut_j">Again</button>
<button onclick="review('hard')" class="shortcut_k">Hard</button>
<button onclick="review('good')" class="shortcut_l">Good</button>
<button onclick="review('easy')" class="shortcut_semicolon">Easy</button>
<a href="/help" target="_blank"><button>Help</button></a>
<a onclick="window.open('/fieldset/{{card.fieldsetid}}', 'Edit Fieldset', 'height=800,width=600');" class="shortcut_e" target="_blank"><button>Edit</button></a>
<a href="/" class="shortcut_b"><button>Break</button></a>
</div>
</div>
<script>
  function review (ease) {
    console.log('review ', ease);
    fetch('/card/{{card.id}}/', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
        elapsed: 20,
        ease: ease,
        startTime: {{cardStartTime}}
      })
    })
    .then(response => {
      if (!response.ok) {
        throw new Error(response.url + ': ' + response.status + ': ' +
          response.statusText);
      }
      window.location = '/next';
    })
    .catch(err => {
      console.log('err: ', err);
      alert(err);
      window.location('/');
    });
  };
</script>
