<div class="status">
All done for now!</br>
Study time today: {{studyTimeToday}} (hh:mm:ss.ssss)</br>
Cards due later today: {{dueCount}}</br>
Average time per card: {{averageTimePerCard}} (sec)</br>
Estimated total study time: {{estimatedTotalStudyTime}} (hh:mm:ss.sss)</br>
Next card is due in: {{timeToNextDue}} (hh:mm:ss.sss)
</div>
