<style>
  thead th {
    text-align: right;
  }
  tbody th {
    text-align: left;
  }
  tbody td {
    text-align: right;
  }
</style>
<div class="home {{mode}}">
<div id="signal"><img src="/img/{{theme}}-{{mode}}.png"></br><div><span title="due now">{{dueNow}}</span>/<span title="reviews before next new card">{{statsNext24Hours.reviewsToNextNew}}</span>/<span title="study time next 24 hour">{{statsNext24Hours.time}}</span>/<span title="study time past 24 hours">{{statsPast24Hours.time}}</span>/<span title="new cards past 24 hours">{{statsPast24Hours.newCards}}</span></div></div>
<h1><a href="/"><img src="img/logo.png"></a>Spaced Repetition Flashcards</h1>
<table>
<thead>
<tr><th></th><th>Cards</th><th>Minutes</th></tr>
</thead>
<tbody>
<tr><th>Past 24 Hours:</th><td><span title="Cards reviewed (not reviews) in the past 24 hours">{{statsPast24Hours.count}}</span></td><td><span title="Actual study time in the past 24 hours">{{statsPast24Hours.time}}</tr>
<tr><th>Next 24 Hours:</th><td><span title="Estimated Cards to review in the next 24 hours">{{statsNext24Hours.count}}</span></td><td><span title="Estimated study time in the next 24 hours">{{statsNext24Hours.time}}</span></tr>
<tr><th>Study Time Per Day:</th><td colspan=2><span
title="short term historic average">{{averageStudyTime}}</span> / <span
title="forward looking average for new card mode">{{studyTime}}</span></td></tr>
<tr><th>New Cards Per Day:</th><td colspan=2><span
  title="short term historic average">{{averageNewCards}}</span> / <span
  title="past 24 hours">{{newCardsSeen}}</span></td></tr>
<tr><th>Percent correct:</th><td colspan=2>{{percentCorrect}}%</td></tr>
<tr><th>Cards due:</th><td colspan=2><span title="due">{{dueNow}}</span> / <span title="overdue">{{overdue}}</span></td></tr>
<tr><th>Time to earliest due card:</th><td colspan=2><span
 title="Time to earliest due card (hh:mm:ss)">{{timeToNextDue}}</span> / <span
 title="Average latency">{{averageLatency}}</span></td></tr>
</tbody>
</table>
{{#if studyNow}}
<button id="study" class="default_action shortcut_s" onclick="study('/next')">Study</button>
<button id="reload" onclick="window.location.replace('/')">Reload</button>
{{else}}
<button id="study" onclick="study('/studyNow')">Study</button>
<button id="reload" class="default_action" onclick="window.location.replace('/')">Reload</button>
{{/if}}
<h3>Study time per hour</h3>
<div id="chart1" class="chart"></div>
<div class="buttons">
<button onclick="window.location.replace('/admin')">Admin</button>
&nbsp;
<button id="button_stats" onclick="window.location.replace('/stats')">Stats</button>
&nbsp;
<a href="/help" target="_blank"><button>Help</button></a>
</div>
</div>

<script src="/js/plotly-2.29.1.min.js" charset="utf-8"></script>
<script>
  let chart1 = document.getElementById('chart1');
  const reviewTime = {{{json chartStudyTime.reviewTime}}};
  const newTime = {{{json chartStudyTime.newTime}}};
  reviewTime.type = 'bar';
  reviewTime.name = 'review';
  reviewTime.hovertemplate = '%{y}<extra></extra>';
  newTime.type = 'bar';
  newTime.name = 'new';
  newTime.hovertemplate = '%{y}<extra></extra>';
  Plotly.newPlot(chart1,
    [ reviewTime, newTime ], {
      barmode: 'stack',
      autosize: true,
      margin: {
        t: 20,
        b: 35,
        l: 40,
        r: 10
      },
      xaxis: { title: 'hour' },
      yaxis: { title: 'minutes' },
      legend: {
        orientation: 'h',
        x: 0.2,
        xanchor: 'left',
        y: 1.15,
      }
    }
  );
</script>

<script>
  function study (url) {
    fetch(url)
    .then(response => {
      response.json()
      .then(data => {
        console.log('fetch response: ', data);
        window.location.replace(data.nextURL);
      });
    });
  }
</script>
