<style>
  table {
    border-spacing: 20px 0;
  }
  thead th {
    text-align: right;
  }
  tbody th {
    text-align: left;
  }
  tbody td {
    text-align: right;
  }
</style>
<h1>Spaced Repetition Flashcards</h1>
<table>
<thead>
<tr><th></th><th>Cards</th><th>Minutes</th></tr>
</thead>
<tbody>
<tr><th>Viewed:</th><td>{{viewedToday}}</td><td>{{studyTimeToday}}</tr>
<tr><th>Due:</th><td>{{dueToday}}</td><td>{{dueStudyTime}}</tr>
<tr><th>Total:</th><td>{{totalToday}}</td><td>{{totalStudyTime}}</tr>
<tr><td>&nbsp;</td></tr>
<tr><th>Cards due now:</th><td>{{dueNow}}</td></tr>
<tr><th>Next card due in:</th><td>{{timeToNextDue}}</td></tr>
</tbody>
</table>
{{#if dueNow}}
<a href="/front" class="shortcut_s"><button>Study</button></a>
{{/if}}
<h3>Cards due per hour</h3>
<div id="chart1" style="width:600px;height:300px;"></div>
<div class="buttons">
<a href="/help" target="_blank"><button>Help</button></a>
<a href="/" class="default_action"><button>reload</button></a>
<a href="/stats"><button>stats</button></a>
<a href="/notes"><button>notes</button></a>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
<script>
  let chart1 = document.getElementById('chart1');
  Plotly.newPlot(chart1,
    [ {{{chart1Data}}} ], {
      margin: {t: 0},
      yaxis: { title: 'cards' },
      xaxis: { title: 'hour' }
    }
  );
</script>
