<div id="signal"><img id="signal_img"
src="/img/{{theme}}-{{mode}}.png"></br><div><span id="signal_dueNow"
title="due now">{{dueNow}}</span>/<span
id="signal_statsNext24Hours.reviewsToNextNew" title="reviews before
next new card">{{statsNext24Hours.reviewsToNextNew}}</span>/<span
id="signal_statsNext24Hours.time" title="study time next 24
hour">{{statsNext24Hours.time}}</span>/<span
id="signal_statsPast24Hours.time" title="study time past 24
hours">{{statsPast24Hours.time}}</span>/<span
id="signal_newCardsToday" title="new cards current calendar day">{{newCardsToday}}</span></div></div>

<section id="home" class="hidden">
<div class="home {{mode}}">
<h1><img onclick="clickHome()" src="img/logo.png">Spaced Repetition Flashcards</h1>
<table>
<thead>
<tr><th></th><th>Cards</th><th>Time</th></tr>
</thead>
<tbody>
<tr><th>Past 24 Hours:</th>
<td><span
  id="home_statsPast24Hours.count"
  title="Cards reviewed (not reviews) in the past 24 hours">{{statsPast24Hours.count}}</span></td>
<td><span
  id="home_statsPast24Hours.time"
  title="Actual study time in the past 24 hours">{{statsPast24Hours.time}}</tr>

<tr><th>Next 24 Hours:</th>
<td><span
  id="home_statsNext24Hours.cardsDue"
  title="Cards due in the next 24 hours"
  >{{statsNext24Hours.cardsDue}}</span> / <span
  id="home_statsNext24Hours.count"
  title="Estimated total cards to review in the next 24 hours"
  >{{statsNext24Hours.count}}</span></td>
<td><span
  id="home_statsNext24Hours.time"
  title="Estimated study time in the next 24 hours"
  >{{statsNext24Hours.time}}</span></td></tr>

<tr><th>Study Time per Day:</th>
<td colspan=2><span
  id="home_studyTimeToday" title="Today">{{studyTimeToday}}</span> / <span
  id="home_averageStudyTime"
  title="Average">{{averageStudyTime}}</span> / <span
  id="home_predictedStudyTime"
  title="Predicted average">{{predictedStudyTime}}</span
  ></td></tr>

<tr><th>New Cards per Day:</th>
<td colspan=2><span
  id="home_newCardsToday"
  title="Today">{{newCardsToday}}</span> / <span
  id="home_averageNewCards"
  title="Average">{{averageNewCards}}</span
  ></td></tr>

<tr><th>Percent correct:</th>
<td colspan=2><span id="home_percentCorrect">{{percentCorrect}}</span>%</td></tr>

<tr><th>Cards due:</th>
<td colspan=2><span
  id="home_due"
  title="Due now">{{dueNow}}</span> / <span
  id="home_overdue"
  title="Overdue">{{overdue}}</span
  ></td></tr>

<tr><th>Time to earliest due card:</th>
<td colspan=2><span
 id="home_time_to_earliest_due_card"
 title="Time to earliest due card">{{timeToNextDue}}</span> / <span
 id="home_average_latency"
 title="Average latency">{{averageLatency}}</span></td></tr>
</tbody>
</table>
<button id="study" class="shortcut_s" onclick="clickStudy()">Study</button>
<button id="reload" onclick="clickHome()">Reload</button>
<h3>Study time per hour</h3>
<div id="home_chart1" class="chart"></div>
<div class="buttons">
<button onclick="window.location.replace('/admin')">Admin</button>
&nbsp;
<button id="button_stats" onclick="clickStats()">Stats</button>
&nbsp;
<a href="/help" target="_blank"><button>Help</button></a>
</div>
</div>
</section>

<!-- This style is for front and back -->
<style id="template_style">
</style>

<section id="front" class="hidden">
  <div id="front_content">
  <div id="front_face" class="card">
  {{{front}}}
  </div>
  <div class="buttons">
  <span id="card-metrics">
  (<span id="front_lastinterval" title="original interval">{{card.lastinterval}}</span>
  <span id="front_interval" title="adjusted interval">{{card.interval}}</span>
  <span id="front_timeSinceLastReview" title="time since last review">{{timeSinceLastReview}}</span>
  <span id="front_factor" title="card factor">{{card.factor}}</span>)
  </span>

  <button onclick="clickFlip()">Flip</button>
  <a href="/help" target="_blank"><button>Help</button></a>
  <a onclick="window.open('/fieldset/{{card.fieldsetid}}', 'Edit Fieldset', 'height=800,width=600');" class="shortcut_e" target="_blank"><button>Edit</button></a>
  <button onclick="playAudio('front')" class="shortcut_p">Play</button>
  <button class="shortcut_s" onclick="clickStop()">Stop</button>
  </div>
  </div>
</section>

<section id="back" class="hidden">
  <div id="back_face" class="card">
  {{{back}}}
  </div>
  <div class="buttons">
  <span id="card-metrics">
  (<span id="back_lastinterval" title="original interval">{{card.lastinterval}}</span>
  <span id="back_interval" title="adjusted interval">{{card.interval}}</span>
  <span id="back_timeSinceLastReview" title="time since last review">{{timeSinceLastReview}}</span>
  <span id="back_factor" title="card factor">{{card.factor}}</span>)
  </span>
  </span>
  <button onclick="review('fail')" class="shortcut_j">Fail (<span
  id="back_intervals.fail">{{intervals.fail}}</span>)</button>
  <button onclick="review('hard')" class="shortcut_k">Hard (<span
  id="back_intervals.hard">{{intervals.hard}}</span>)</button>
  <button onclick="review('good')" class="shortcut_l">Good (<span
  id="back_intervals.good">{{intervals.good}}</span>)</button>
  <button onclick="review('easy')" class="shortcut_semicolon">Easy (<span
  id="back_intervals.easy">{{intervals.easy}}</span>)</button>
  <a href="/help" target="_blank"><button>Help</button></a>
  <a onclick="window.open('/fieldset/{{card.fieldsetid}}', 'Edit Fieldset', 'height=800,width=600');" class="shortcut_e" target="_blank"><button>Edit</button></a>
  <button onclick="playAudio('back')" class="shortcut_p">Play</button>
  <button class="shortcut_b" onclick="window.location.replace('/')">Stop</button>
  </div>
  <div class="charts">
  <h3>Card History - ID {{card.id}}</h3>
  <div id="cardHistory" class="chart"></div>
  </div>

</section>

<section id="stats" class="hidden">
  <h1><span onclick="clickHome()"><img src="img/logo.png"></span>Spaced Repetition Flashcards</h1>
  <div class="status">
  <table>
  <tr><th>New cards per day:</th>
  <td><span id="stats_newCardsLongTermAverage" title="Long term average">{{newCardsLongTermAverage}}</span> /
  <span id="stats_newCardsShortTermAverage" title="Short term average">{{newCardsShortTermAverage}}</span> /
  <span id="stats_newCardsToday" title="Today">{{newCardsToday}}</span></td></tr>
  <tr><th>Cards:</th>
  <td><span id="stats_cardCounts.total" title="Total">{{cardCounts.total}}</span> (
  <span id="stats_cardCounts.unseen" title="Unseen">{{cardCounts.unseen}}</span> /
  <span id="stats_cardCounts.seen" title="Seen">{{cardCounts.seen}}</span> (
  <span id="stats_cardCounts.new" title="New">{{cardCounts.new}}</span> /
  <span id="stats_cardCounts.learning" title="Learning">{{cardCounts.learning}}</span> /
  <span id="stats_cardCounts.mature" title="Mature">{{cardCounts.mature}}</span> /
  <span id="stats_cardCounts.mastered" title="Mastered">{{cardCounts.mastered}}</span> ))</td></tr>
  <tr><th>Percent correct:</th>
  <td><span id="stats_percentCorrect">{{percentCorrect}}</span>%</td></tr>
  <tr><th>Cards today:</th>
  <td><span id="stats_cardsViewedToday" title="Cards reviewed today">{{cardsViewedToday}}</span> /
  <span id="stats_dueCount" title="Cards due later today">{{dueCount}}</span></td></tr>
  <tr><th>Reviews:</th>
  <td><span id="stats_averageReviewsPerDay" title="Average reviews per day">{{averageReviewsPerDay}}</span> /
  <span id="stats_statsNext24Hours.minReviews" title="Reviews between new cards in slow mode">{{statsNext24Hours.minReviews}}</span> /
  <span id="stats_statsNext24Hours.reviewsToNextNew" title="Reviews until next new card">{{statsNext24Hours.reviewsToNextNew}}</span></td></tr>
  <tr><th>Study time:</th>
  <td><span id="stats_studyTimeToday" title="Today">{{studyTimeToday}}</span> /
  <span id="stats_averageStudyTimePerDay" title="Average per day">{{averageStudyTimePerDay}}</span> /
  <span id="stats_averageStudyTimePerCard" title="Average per card">{{averageStudyTimePerCard}}</span> (sec) /
  <span id="stats_averageStudyTimePerReview" title="Average per review">{{averageStudyTimePerReview}}</span> (sec)</td></tr>
  <tr><th>Time to earliest due card:</th>
  <td><span id="stats_timeToNextDue">{{timeToNextDue}}</span></td></tr>
  </table>
  </div>
  <div class="charts">

  <h3>Cards per Stage</h3>
  <div id="cardsPerStage" class="chart"></div>

  <h3>Study Time per day</h3>
  <div id="studyTimePerDay" class="chart"></div>

  <h3>New Cards per day</h3>
  <div id="newCardsPerDay" class="chart"></div>

  <h3>Percent Correct</h3>
  <div id="percentCorrect" class="chart"></div>

  <h3>Reviews per day</h3>
  <div id="reviewsPerDay" class="chart"></div>

  <h3>Backlog & Overdue</h3>
  <div id="backlog" class="chart"></div>

  <h3>Latency</h3>
  <div id="latency" class="chart"></div>

  <h3>Cards per interval</h3>
  <div id="cardsPerInterval" class="chart"></div>

  <h3>Cards Due per day</h3>
  <div id="cardsDuePerDay" class="chart"></div>

  <div class="buttons">
  <button onclick="clickHome()">Home</button>
  </div>
</section>

<!-- JavaScript for the new SPA mode -->
<script src="/js/plotly-2.29.1.min.js" charset="utf-8"></script>
<script>
  let currentSection;
  let currentCard;
  let currentCardStatTime;
  let nextCardID;

  // mode is /next or /studyNow (these used to be paths)
  function clickStudy () {
    fetch('/studyNow')
    .then(response => {
      response.json()
      .then(data => {
        if(data.cardID) {
          loadCard(data.cardID);
        } else {
          loadHome();
        }
      });
    });
  }

  function clickStop () {
    loadHome();
  }

  function clickHome () {
    loadHome();
  }

  function clickStats () {
    loadStats();
  }

  function clickFlip () {
    displaySection('back');
    playAudio('back');
    // Now that the back is visible, the cart can be loaded
    // It must be visible to size itself correctly
    const cardHistory = document.getElementById('cardHistory');
    if (cardHistory) {
      const chartData = [
        currentCard.chartData.cardFactor,
        currentCard.chartData.cardInterval,
      ];
      chartData[0].mode = 'lines';
      chartData[0].name = 'Factor';
      chartData[0].line = {
        color: 'rgb(185, 213, 232)',
        shape: 'hv'
      };
      chartData[1].mode = 'lines';
      chartData[1].name = 'Interval';
      chartData[1].yaxis = 'y2';
      chartData[1].line = {
        color: 'rgb(31, 119, 180)',
        shape: 'hv'
      };
      let maxInterval = 0;
      for (let i = chartData[0].y.length; i > 0; i--) {
        if (chartData[0].y[i] > maxInterval) maxInterval = chartData[0].y[i];
      }
      let maxFactor = 0;
      for (let i = chartData[1].y.length; i > 0; i--) {
        if (chartData[1].y[i] > maxFactor) maxFactor = chartData[1].y[i];
      }
      Plotly.newPlot(cardHistory,
        chartData, {
          autosize: true,
          margin: {
            t: 10,
            b: 10,
            l: 30,
            r: 10,
          },
          xaxis: { title: 'datetime', automargin: true },
          yaxis: {
            title: 'factor',
            // range: [ 0, maxFactor ],
            automargin: true,
            rangemode: 'tozero'
          },
          yaxis2: {
            title: 'interval (days)',
            // range: [ 0, maxInterval ],
            overlaying: 'y',
            side: 'right',
            automargin: true,
            rangemode: 'tozero'
          },
        }
      );
    }
  }

  function loadHome () {
    document.getElementById('signal').classList.remove('hidden');
    // Load current data to the home section
    fetch('/homeData')
    .then(response => {
      response.json()
      .then(data => {
        nextCardID = data.nextCardID;
        document.getElementById('home_time_to_earliest_due_card')
          .textContent = formatSeconds(data.timeToNextDue);
        document.getElementById('home_average_latency')
          .textContent = formatSeconds(data.averageLatency);
        document.getElementById('home_due')
          .textContent = data.dueNow;
        document.getElementById('home_overdue')
          .textContent = data.overdue;
        document.getElementById('home_percentCorrect')
          .textContent = data.percentCorrect.toFixed(2);
        document.getElementById('home_averageNewCards')
          .textContent = data.averageNewCards.toFixed(2);
        document.getElementById('home_newCardsToday')
          .textContent = data.newCardsToday;
        document.getElementById('home_studyTimeToday')
          .textContent = formatSeconds(data.studyTimeToday);
        document.getElementById('home_averageStudyTime')
          .textContent = formatSeconds(data.averageStudyTime);
        document.getElementById('home_predictedStudyTime')
          .textContent = formatSeconds(data.predictedStudyTime);
        document.getElementById('home_statsNext24Hours.cardsDue')
          .textContent = data.statsNext24Hours.cardsDue;
        document.getElementById('home_statsNext24Hours.count')
          .textContent = data.statsNext24Hours.count;
        document.getElementById('home_statsNext24Hours.time')
          .textContent = formatSeconds(data.statsNext24Hours.time);
        document.getElementById('home_statsPast24Hours.count')
          .textContent = data.statsPast24Hours.count;
        document.getElementById('home_statsPast24Hours.time')
          .textContent = formatSeconds(data.statsPast24Hours.time);
        if (data.dueNow || data.mode === 'go') {
          document.getElementById('study').classList.add('ready');
        } else {
          document.getElementById('study').classList.remove('ready');
        }
        setSignal(data);
        displaySection('home');

        // Update chart
        let chart1 = document.getElementById('home_chart1');
        const reviewTime = data.chartStudyTime.reviewTime;
        const newTime = data.chartStudyTime.newTime;
        reviewTime.type = 'bar';
        reviewTime.name = 'review';
        reviewTime.hovertemplate = '%{y}<extra></extra>';
        newTime.type = 'bar';
        newTime.name = 'new';
        newTime.hovertemplate = '%{y}<extra></extra>';
        Plotly.newPlot(chart1,
          [ reviewTime, newTime ], {
            barmode: 'stack',
            autosize: true,
            margin: {
              t: 20,
              b: 35,
              l: 40,
              r: 10
            },
            xaxis: { title: 'hour' },
            yaxis: { title: 'minutes' },
            legend: {
              orientation: 'h',
              x: 0.2,
              xanchor: 'left',
              y: 1.15,
            }
          }
        );
      });
    });
    setTimeout(
      () => {
        if (currentSection === 'home') {
          loadHome();
        }
      },
      5 * 60 * 1000
    );
  }

  function loadStats () {
    document.getElementById('signal').classList.add('hidden');
    fetch('/stats')
    .then(response => {
      response.json()
      .then(data => {
        document.getElementById('stats_newCardsLongTermAverage')
          .textContent = data.newCardsLongTermAverage;
        document.getElementById('stats_newCardsShortTermAverage')
          .textContent = data.newCardsShortTermAverage;
        document.getElementById('stats_newCardsToday')
          .textContent = data.newCardsToday;
        document.getElementById('stats_cardCounts.total')
          .textContent = data.cardCounts.total;
        document.getElementById('stats_cardCounts.unseen')
          .textContent = data.cardCounts.unseen;
        document.getElementById('stats_cardCounts.seen')
          .textContent = data.cardCounts.seen;
        document.getElementById('stats_cardCounts.new')
          .textContent = data.cardCounts.new;
        document.getElementById('stats_cardCounts.learning')
          .textContent = data.cardCounts.learning;
        document.getElementById('stats_cardCounts.mature')
          .textContent = data.cardCounts.mature;
        document.getElementById('stats_cardCounts.mastered')
          .textContent = data.cardCounts.mastered;
        document.getElementById('stats_percentCorrect')
          .textContent = data.percentCorrect;
        document.getElementById('stats_averageStudyTimePerReview')
          .textContent = data.averageStudyTimePerReview;
        document.getElementById('stats_averageStudyTimePerCard')
          .textContent = data.averageStudyTimePerCard;
        document.getElementById('stats_cardsViewedToday')
          .textContent = data.cardsViewedToday;
        document.getElementById('stats_dueCount')
          .textContent = data.dueCount;
        document.getElementById('stats_averageReviewsPerDay')
          .textContent = Math.round(data.averageReviewsPerDay);
        document.getElementById('stats_statsNext24Hours.minReviews')
          .textContent = data.statsNext24Hours.minReviews;
        document.getElementById('stats_statsNext24Hours.reviewsToNextNew')
          .textContent = data.statsNext24Hours.reviewsToNextNew;
        document.getElementById('stats_studyTimeToday')
          .textContent = formatSeconds(data.studyTimeToday);
        document.getElementById('stats_averageStudyTimePerDay')
          .textContent = formatSeconds(data.averageStudyTimePerDay);
        document.getElementById('stats_timeToNextDue')
          .textContent = formatSeconds(data.timeToNextDue);
        displaySection('stats');

        let reviewsPerDay = document.getElementById('reviewsPerDay');
        if (reviewsPerDay) {
          const chartData = [ data.charts.chartCardViewsPerDay ];
          const x = chartData[0].x;
          Plotly.newPlot(
            reviewsPerDay,
            chartData, {
              autosize: true,
              margin: {
                t: 10,
                b: 10,
                l: 10,
                r: 10
              },
              yaxis: {
                title: 'reviews',
                automargin: true,
                rangemode: 'tozero'
              },
              xaxis: {
                title: 'date',
                automargin: true,
                range: ( x.length > 0 ? [ x[0], x[x.length - 1] ] : [] ),
                }
            }
          );
        }

        let studyTimePerDay = document.getElementById('studyTimePerDay');
        if (studyTimePerDay) {
          const chartData = [ data.charts.chartMinutesStudiedPerDay ];
          const x = chartData[0].x;
          Plotly.newPlot(
            studyTimePerDay,
            chartData, {
              autosize: true,
              margin: {
                t: 10,
                b: 10,
                l: 10,
                r: 10
              },
              yaxis: {
                title: 'min',
                automargin: true,
                rangemode: 'tozero'
                },
              xaxis: {
                title: 'date',
                automargin: true,
                range: ( x.length > 0 ? [ x[0], x[x.length - 1] ] : [] ),
                }
            }
          );
        }

        let percentCorrect = document.getElementById('percentCorrect');
        if (percentCorrect) {
          const chartData = [ data.charts.chartPercentCorrect ];
          const x = chartData[0].x;
          Plotly.newPlot(
            percentCorrect,
            chartData, {
              autosize: true,
              margin: {
                t: 10,
                b: 10,
                l: 10,
                r: 10
              },
              yaxis: {
                title: 'percent',
                automargin: true,
                rangemode: 'tozero'
                },
              xaxis: {
                title: 'date',
                automargin: true,
                range: ( x.length > 0 ? [ x[0], x[x.length - 1] ] : [] ),
                }
            }
          );
        }

        let newCardsPerDay  = document.getElementById('newCardsPerDay');
        if (newCardsPerDay) {
          const chartData = [ data.charts.chartNewCardsPerDay ];
          const x = chartData[0].x;
          Plotly.newPlot(
            newCardsPerDay,
            chartData, {
              autosize: true,
              margin: {
                t: 10,
                b: 10,
                l: 10,
                r: 10
              },
              yaxis: {
                title: 'cards',
                automargin: true,
                rangemode: 'tozero'
              },
              xaxis: {
                title: 'date',
                automargin: true,
                range: ( x.length > 0 ? [ x[0], x[x.length - 1] ] : [] ),
                }
            }
          );
        }

        let backlog = document.getElementById('backlog');
        if (backlog) {
          const backlogData = [
            data.charts.chartsLatency.chartBacklog,
            data.charts.chartsLatency.chartOverdue,
          ];
          backlogData[0].mode = 'lines';
          backlogData[0].name = 'Backlog';
          backlogData[0].line = {
            color: 'rgb(220, 220, 0)',
          };
          backlogData[1].mode = 'lines';
          backlogData[1].name = 'Overdue';
          backlogData[1].line = {
            color: 'rgb(255, 0, 0)',
          };
          Plotly.newPlot(
            backlog,
            backlogData, {
              autosize: true,
              margin: {
                t: 10,
                b: 10,
                l: 10,
                r: 10
              },
              xaxis: { title: 'day', automargin: true },
              yaxis: {
                title: 'cards',
                automargin: true,
                type: 'log',
                rangemode: 'tozero'
              },
              legend: {
                orientation: 'h',
                x: 0.2,
                xanchor: 'left',
                y: 1.15
              }
            } 
          );
        }

        let latency = document.getElementById('latency');
        if (latency) {
          const latencyData = [
            data.charts.chartsLatency.chartLatency,
          ];
          latencyData[0].mode = 'lines';
          latencyData[0].name = 'Latency';
          Plotly.newPlot(latency,
            latencyData, {
              autosize: true,
              margin: {
                t: 10,
                b: 10,
                l: 10,
                r: 10
              },
              xaxis: { title: 'day', automargin: true },
              yaxis: {
                title: 'minutes',
                type: 'log',
                automargin: true,
                rangemode: 'tozero'
              },
              legend: {
                orientation: 'h',
                x: 0.2,
                xanchor: 'left',
                y: 1.15
              }
            } 
          );
        }

        let cardsPerStage = document.getElementById('cardsPerStage');
        if (cardsPerStage) {
          const chartData = [
              data.charts.chartStageNew,
              data.charts.chartStageLearning,
              data.charts.chartStageMature,
              data.charts.chartStageMastered,
              data.charts.chartTotalCards,
          ];
          const x = chartData[0].x;
          chartData[0].connectgaps = true;
          chartData[0].stackgroup = 0;
          chartData[0].name = 'new';
          chartData[1].stackgroup = 0;
          chartData[1].name = 'learning';
          chartData[2].stackgroup = 0;
          chartData[2].name = 'mature';
          chartData[3].stackgroup = 0;
          chartData[3].name = 'mastered';
          chartData[4].name = 'total';
          Plotly.newPlot(
            cardsPerStage,
            chartData, {
              showlegend: false,
              autosize: true,
              margin: {
                t: 10,
                b: 10,
                l: 10,
                r: 10
              },
              yaxis: {
                title: 'cards',
                automargin: true,
                rangemode: 'tozero'
              },
              xaxis: {
                title: 'day',
                automargin: true,
                range: ( x.length > 0 ? [ x[0], x[x.length - 1] ] : [] ),
                },
            },
          );
        }

        let cardsDuePerDay = document.getElementById('cardsDuePerDay');
        if (cardsDuePerDay) {
          const chartData = [ data.charts.chartCardsDuePerDay ];
          const x = chartData[0].x;
          Plotly.newPlot(
            cardsDuePerDay,
            chartData, {
              autosize: true,
              margin: {
                t: 10,
                b: 10,
                l: 10,
                r: 10
              },
              yaxis: {
                title: 'cards',
                automargin: true,
                rangemode: 'tozero'
                },
              xaxis: {
                title: 'day',
                automargin: true,
                range: ( x.length > 0 ? [ x[0], x[x.length - 1] ] : [] ),
                }
            }
          );
        }

        const intervalData = [
          data.charts.chartCardsPerLastInterval,
          data.charts.chartCardsPerInterval,
        ];
        intervalData[0].line = {
          color: 'rgb(185, 213, 232)'
        };
        intervalData[1].line = {
          color: 'rgb(31, 119, 180)'
        };
        let cardsPerInterval = document.getElementById('cardsPerInterval');
        if (cardsPerInterval) {
          Plotly.newPlot(
            cardsPerInterval,
            intervalData, {
              autosize: true,
              margin: {
                t: 10,
                b: 10,
                l: 10,
                r: 10
              },
              yaxis: {
                title: 'cards',
                automargin: true,
                rangemode: 'tozero'
                },
              xaxis: { title: 'days', automargin: true },
              legend: {
                orientation: 'h',
                x: 0.2,
                xanchor: 'left',
                y: 1.15
              }
            } 
          );
        }
      });
    });
  }

  function setSignal (data) {
    document.getElementById('signal_img')
      .src = '/img/' + data.theme + '-' + data.mode + '.png';
    document.getElementById('signal_dueNow')
      .textContent = data.dueNow;
    document.getElementById('signal_statsNext24Hours.reviewsToNextNew')
      .textContent = data.statsNext24Hours.reviewsToNextNew;
    document.getElementById('signal_statsNext24Hours.time')
      .textContent = Math.round(data.statsNext24Hours.time/60);
    document.getElementById('signal_statsPast24Hours.time')
      .textContent = Math.round(data.statsPast24Hours.time/60);
    document.getElementById('signal_newCardsToday')
      .textContent = data.newCardsToday;
  }

  // Load the card front and back with a single request
  // Displaying a card starts with displaying the front
  function loadCard (cardID) {
    document.getElementById('signal').classList.remove('hidden');
    fetch('/card/' + cardID)
    .then(response => {
      response.json()
      .then(data => {
        currentCard = data;

        // First load the card front
        document.getElementById('front_face').classList.add('dim');
        document.getElementById('template_style')
          .textContent = currentCard.template.css;
        document.getElementById('front_face')
          .innerHTML = currentCard.front;
        setupAudio('front');
        document.getElementById('front_lastinterval')
          .textContent = formatSeconds(currentCard.lastinterval);
        document.getElementById('front_interval')
          .textContent = formatSeconds(currentCard.interval);
        document.getElementById('front_timeSinceLastReview')
          .textContent = formatSeconds(currentCard.timeSinceLastReview);
        document.getElementById('front_factor')
          .textContent = currentCard.factor.toFixed(3);
        document.getElementById('front_face').classList.remove('dim');
        setSignal(currentCard);
        currentCardStartTime = Math.floor(Date.now() / 1000);
        displaySection('front');
        playAudio('front');

        // Then load the card back
        document.getElementById('back_face')
          .innerHTML = currentCard.back;
        setupAudio('back');
        document.getElementById('back_lastinterval')
          .textContent = formatSeconds(currentCard.lastinterval);
        document.getElementById('back_interval')
          .textContent = formatSeconds(currentCard.interval);
        document.getElementById('back_timeSinceLastReview')
          .textContent = formatSeconds(currentCard.timeSinceLastReview);
        document.getElementById('back_factor')
          .textContent = currentCard.factor.toFixed(3);
        document.getElementById('back_intervals.fail')
          .textContent = formatSeconds(currentCard.intervals.fail);
        document.getElementById('back_intervals.hard')
          .textContent = formatSeconds(currentCard.intervals.hard);
        document.getElementById('back_intervals.good')
          .textContent = formatSeconds(currentCard.intervals.good);
        document.getElementById('back_intervals.easy')
          .textContent = formatSeconds(currentCard.intervals.easy);

        // Defer loading the chart until the back is visible
        // Otherwise, it can't detect window size
      });
    });
  }

  function review (ease) {
    fetch('/card/' + currentCard.id + '/', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
        ease: ease,
        startTime: currentCardStartTime,
      })
    })
    .then(response => {
      if (!response.ok) {
        throw new Error(response.url + ': ' + response.status + ': ' +
          response.statusText);
      }
      response.json()
      .then((data) => {
        nextCardID = data.nextCardID;
        if (data.nextCardID) {
          loadCard(data.nextCardID);
        } else {
          clickHome();
        }
      });
    })
    .catch(err => {
      console.log('err: ', err);
      alert(err);
      clickHome();
    });
  }

  function displaySection (section) {
    currentSection = section;
    const sections = document.getElementsByTagName('section')
    for (const e of sections) {
      if (e.id !== section) {
        e.classList.add('hidden');
      }
    }
    document.getElementById(section).classList.remove('hidden');
  }

  function setupAudio (face) {
    // The DOM is stupid: getElementsByTagName doesn't return an array
    // of elements. Instead, it returns an HTMLCollection, which is an
    // "array-like object" which is not like an array. So, one has to
    // do stupid shit like the following to iterate over the elements.
    let elements = document.querySelectorAll('#' + face + ' audio');
    for (let element of elements) {
      element.volume = 0.4;
      const files = element.dataset.files.split(',');
      element.src = files[0];
      element.pause();
      let i = 0;
      function callback (e) {
        i++;
        if (i < files.length) {
          element.src = files[i];
        } else {
          element.removeEventListener('ended', callback);
        }
      }
      element.addEventListener('ended', callback);
    }
  }

  function playAudio (face) {
    let elements = document.querySelectorAll('#' + face + ' audio');
    for (let element of elements) {
      element.play();
    }
  }

  window.onload = (event) => {
    clickHome();

    document.addEventListener("keydown", keyCapt, false);
    function keyCapt (e) {
      if (currentSection === 'home') {
        if (e.key === ' ') { // space
          e.preventDefault();
          e.stopPropagation();
          if (nextCardID) {
            loadCard(nextCardID);
          } else {
            loadHome();
          }
        } else if (e.key === 's') {
          e.preventDefault();
          e.stopPropagation();
          clickStudy();
        }
      } else if (currentSection === 'front') {
        if (e.key === ' ') {
          e.preventDefault();
          e.stopPropagation();
          clickFlip();
        } else if (e.key === 'p') {
          e.preventDefault();
          e.stopPropagation();
          playAudio('front');
        }
      } else if (currentSection === 'back') {
        if (e.key === 'p') {
          e.preventDefault();
          e.stopPropagation();
          playAudio('back');
        } else if (e.key === 'j') {
          e.preventDefault();
          e.stopPropagation();
          review('fail');
        } else if (e.key === 'k') {
          e.preventDefault();
          e.stopPropagation();
          review('hard');
        } else if (e.key === 'l') {
          e.preventDefault();
          e.stopPropagation();
          review('good');
        } else if (e.key === ';') {
          e.preventDefault();
          e.stopPropagation();
          review('easy');
        } else if (e.key === 's') {
          e.preventDefault();
          e.stopPropagation();
          clickHome();
        }
      } else if (currentSection === 'stats') {
        if (e.key === ' ') {
          e.preventDefault();
          e.stopPropagation();
          loadHome();
        }
      }
    }
  };

  function formatSeconds (n) {
    const s = n < 0 ? '-' : '';
    if (n < 0) n = -n;
    n = Math.floor(n)

    // Display as seconds
    if (n < 60) {
      return s + n + 's';
    }

    // Display as minutes
    n = n / 60;
    if (n < 60) {
      return s + n.toFixed(1) + 'm';
    }

    // Display as hours
    n = n / 60;
    if (n < 10) {
      return s + n.toFixed(1) + 'h';
    }
    if (n < 24) {
      return s + n.toFixed(0) + 'h';
    }

    // Display as days
    n = n / 24;
    if (n < 10) {
      return s + n.toFixed(1) + 'd';
    } else {
      return s + n.toFixed(0) + 'd';
    }
  }
</script>
