<style>
  thead th {
    text-align: right;
  }
  tbody th {
    text-align: left;
  }
  tbody td {
    text-align: right;
  }
</style>
<div class="home {{mode}}">
<div id="signal">
<img src="/img/{{theme}}-{{mode}}.png"></br>
<div title="cards due/new cards remaining/study time past 24 hours/next 24 hours">{{dueNow}}/{{newCardsRemaining}}/{{statsPast24Hours.time}}/{{statsNext24Hours.time}}</div>
</div>
<h1><a href="/"><img src="img/logo.png"></a>Spaced Repetition Flashcards</h1>
<table>
<thead>
<tr><th></th><th>Cards</th><th>Minutes</th></tr>
</thead>
<tbody>
<tr><th>Past 24 Hours:</th><td>{{statsPast24Hours.count}}</td><td>{{statsPast24Hours.time}}</tr>
<tr><th>Next 24 Hours:</th><td>{{statsNext24Hours.count}}</td><td>{{statsNext24Hours.time}}</tr>
<tr><td>&nbsp;</td></tr>
<tr><th>Daily Study Time (average/target):</th><td>{{averageStudyTime}}/{{targetStudyTime}}</td></tr>
<tr><th>Percent correct:</th><td>{{percentCorrect}}%</td></tr>
<tr><th>Cards due/overdue:</th><td>{{dueNow}}/{{overdue}}</td></tr>
<tr><th>New Cards (seen/limit):</th><td>{{newCardsSeen}}/{{newCardLimit}}</td></tr>
<tr><th>Next card due in:</th><td>{{timeToNextDue}}</td></tr>
</tbody>
</table>
{{#if studyNow}}
<a href="/next" class="default_action shortcut_s"><button>Study</button></a>
<a href="/"><button>Reload</button></a>
{{else}}
<a href="/studyNow"><button>Study</button></a>
<a href="/" class="default_action"><button>Reload</button></a>
{{/if}}
<h3>Study time per hour</h3>
<div id="chart1" class="chart"></div>
<div class="buttons">
<a id="button_new_card" href="/new" class="shortuct_n" target="_blank"><button>New Card</button></a>
&nbsp;
<a href="/admin"><button>Admin</button></a>
&nbsp;
<a id="button_stats" href="/stats"><button>Stats</button></a>
&nbsp;
<a href="/help" target="_blank"><button>Help</button></a>
</div>
</div>

<script src="/js/plotly-latest.min.js" charset="utf-8"></script>
<script>
  let chart1 = document.getElementById('chart1');
  Plotly.newPlot(chart1,
    [ {{{chart1Data}}} ], {
      margin: {t: 0},
      yaxis: { title: 'minutes' },
      xaxis: { title: 'hour' }
    }
  );
</script>
