<h1><a href="/"><img src="img/logo.png"></a>Spaced Repetition Flashcards</h1>
<div class="status">
<table>
<tr><th>New cards per day:</th><td>{{newCardsPerDay}}</td></tr>
<tr><th>Cards seen:</th><td>{{cardsSeen}}</td></tr>
<tr><th>Cards by Stage:</th><td>{{newCards}} / {{learningCards}} / {{matureCards}}</td></tr>
<tr><th>Percent correct:</th><td>{{percentCorrect}}%</td></tr>
<tr><th>Correct factor:</th><td>{{correctFactor}}</td></tr>
<tr><th>Cards reviewed today:</th><td>{{cardsViewedToday}}</td></tr>
<tr><th>Cards due later today:</th><td>{{dueCount}}</td></tr>
<tr><th>Average time per review:</th><td>{{averageStudyTimePerReview}} (sec)</td></tr>
<tr><th>Study time today:</th><td>{{studyTimeToday}} (hh:mm:ss)</td></tr>
<tr><th>Average time per day:</th><td>{{averageStudyTimePerDay}} (hh:mm:ss)</td></tr>
<tr><th>Next card is due in:</th><td>{{timeToNextDue}} (hh:mm:ss)</td></tr>
</table>
</div>
<div class="charts">
<h3>Card Views per day</h3>
<div id="chart1" class="chart"></div>
<h3>Minutes Studied per day</h3>
<div id="chart2" class="chart"></div>
<h3>Cards Due per day</h3>
<div id="chart3" class="chart"></div>
<h3>Cards per interval</h3>
<div id="chart4" class="chart"></div>
<h3>New Cards per day</h3>
<div id="chart5" class="chart"></div>
<h3>Matured &amp; Lapsed</h3>
<div id="chart6" class="chart"></div>
</div>
<div class="buttons">
<a href="/" class="default_action"><button>Home</button></a>
</div>
<script src="/js/plotly-latest.min.js" charset="utf-8"></script>
<script>
  let chart1 = document.getElementById('chart1');
  Plotly.newPlot(chart1,
    [ {{{chart1Data}}} ], {
      margin: {t: 0},
      yaxis: { title: 'cards' },
      xaxis: { title: 'day#' }
    }
  );
  let chart2 = document.getElementById('chart2');
  Plotly.newPlot(chart2,
    [ {{{chart2Data}}} ], {
      margin: {t: 0},
      yaxis: { title: 'min' },
      xaxis: { title: 'day#' }
    }
  );

  let chart3 = document.getElementById('chart3');
  Plotly.newPlot(chart3,
    [ {{{chart3Data}}} ], {
      margin: {t: 0},
      yaxis: { title: 'cards' },
      xaxis: { title: 'day#' }
    }
  );

  let chart4 = document.getElementById('chart4');
  Plotly.newPlot(chart4,
    [ {{{chart4Data}}} ], {
      margin: {t: 0},
      yaxis: { title: 'cards' },
      xaxis: { title: 'days' }
    }
  );

  let chart5 = document.getElementById('chart5');
  Plotly.newPlot(chart5,
    [ {{{chart5Data}}} ], {
      margin: {t: 0},
      yaxis: { title: 'cards' },
      xaxis: { title: 'day#' }
    }
  );

  let chart6 = document.getElementById('chart6');
  const chart6Data = {{{chart6Data}}};
  let maxy1 = -Infinity;
  let miny1 = Infinity;
  let maxy2 = -Infinity;
  for (let i = chart6Data[0].y.length; i > 0; i--) {
    if (chart6Data[0].y[i] < miny1) miny1 = chart6Data[0].y[i];
    if (chart6Data[1].y[i] > maxy1) maxy1 = chart6Data[1].y[i];
    if (chart6Data[2].y[i] > maxy1) maxy1 = chart6Data[2].y[i];
    if (chart6Data[3].y[i] > maxy2) maxy2 = chart6Data[3].y[i];
  }
  const miny2 = maxy2 * miny1 / maxy1;
  const r1max = maxy1 + (maxy1 - miny1) * 0.05;
  const r1min = miny1 - (maxy1 - miny1) * 0.05;
  const r2max = maxy2 + (maxy2 - miny2) * 0.05;
  const r2min = miny2 - (maxy2 - miny2) * 0.05;
  chart6Data[0].line = {
    color: 'rgb(250, 200, 0)'
  };
  chart6Data[1].line = {
    color: 'rgb(256, 50, 50)'
  };
  chart6Data[2].line = {
    color: 'rgb(50, 128, 50)'
  };
  chart6Data[3].line = {
    color: 'rgb(100, 100, 200)'
  };
  console.log('chart6Data: ', chart6Data);
  Plotly.newPlot(chart6,
    chart6Data, {
      margin: {t: 0},
      xaxis: { title: 'day#' },
      yaxis: {
        title: 'matured, lapsed, net (cards)',
        range: [ r1min, r1max ]
      },
      yaxis2: {
        title: 'cumulative (cards)',
        overlaying: 'y',
        side: 'right',
        range: [ r2min, r2max ]
      },
      legend: {
        orientation: 'h',
        x: 0.2,
        xanchor: 'left',
        y: 1.1
      }
    }
  );

</script>
