<style>
  th {
    text-align: left;
  }
  td {
    text-align: right;
  }
  textarea {
    height: 200px;
    width: 500px;
  }
</style>
<h1>Spaced Repetition Flashcards</h1>
<h2>Template</h2>
<table>
<tr><th>ID</th><td>{{id}}</td></tr>
<tr><th>Name</th><td><input type="text" id="name" value="{{name}}"/></td></tr>
<tr><th>Templates</th><td><input type="text" id="templates" value="{{templatesJSON}}"/></td></tr>
<tr><th>Fields</th><td><input type="text" id="fields" value="{{fieldsJSON}}"/></td></tr>
</table>
<button onclick="save()">Save</button>
<button onclick="cancel()">Cancel</button>
<script>
  // When the Save button is clicked
  function save() {
    const data = {
      templateset: {{id}},
      name: document.getElementById('name').value,
      templates: document.getElementById('templates').value,
      fields: document.getElementById('fields').value
    };
    console.log('save data ', data);
    fetch('/templateset/{{id}}', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(data)
    })
    .then( response => {
      if (!response.ok) {
        throw new Error(response.url + ': ' + response.status + ': ' +
          response.statusText);
      }
      console.log('response ', response);
      window.close();
    })
    .catch( err => {
      alert('failed');
      console.log('err ', err);
    });
  }

  // When the Cancel button is clicked
  function cancel() {
    window.close();
  }

</script>
